body{
    padding-top: 2em;
    background-color: #F9F8EB;
}
.cont,.dama,.svgCont{
    width: 280px;
    margin: auto;
    position: relative;
}
.contDeg{
    width: 5px;
    height: 102px;
    background-color: #76B39D;
    position: absolute;
    left: 50%;bottom: 0;
    z-index: -1;
    transform: translate(-50%,-10px) rotateZ(270deg);
    border-radius: 50% 50% 2px 2px;
    transform-origin: bottom;
    transition: 1s ease-out;
}
.dama>p{
    text-align: center;
}
.dama>p>span{
    color: #FFFEEC;
    padding: .5em;
    display: inline-block;
    margin: 0 1em;
    transform: translateY(-10%);
    border-radius: 3px;
}

.dama>p>span:first-child{
    background-color: #E4508F;
}
.dama>p>span:last-child{
    background-color: #556FB5;
}

.svgCont{
    margin-top: 5em;
    margin-bottom: 2em;
    position: relative;
    height: 280px;
}
.svgCont>.grid>div{
    margin: auto;
    text-align: center;
}
.svgCont>.grid>div>small{
    font-size: 12px;
    margin-top: -5px;
    margin-bottom: 10px;
    display: block;
}

.hr{
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: rgba(21, 82, 99,.1);
    text-align: center;
    z-index: -1;
}
.hr>span{
    transform: translateY(-50%);
    background-color: #fff;
    display: inline-block;
}
svg{
    position: absolute;
    top: 0;
    right: 0;
}
i,span,b{
    display: block;
}
.grid{
    display: grid;
    grid-template-columns: auto;
    height: 100%;
}

circle{
    stroke-width: 5;
}
#holder,#gold-pluk,#dark-pluk{
    stroke-width: 6.5;
}
circle:first-child{
    stroke: #dee9db;
}
circle:nth-child(2){    
    stroke: #F0B917;
    stroke-dasharray: 430.5;
    stroke-dashoffset: 0;
    animation: tstgold 5s linear;
}
circle:nth-child(3){
    stroke: #dee9db;
    stroke-dasharray: 430.5;
    stroke-dashoffset: 0;
}
circle:nth-child(4){
    stroke: #155263;
    stroke-dasharray: 431;
    stroke-dashoffset: 431;
    display: none;
    animation: x 5s linear;
}
circle:last-child{
    stroke: #dee9db;
    stroke-dasharray: 430.5;
    stroke-dashoffset: -430.5;
    display: none;
}
@keyframes tstgold {
    from{
        stroke-dashoffset: 0;
    }
    to{
        stroke-dashoffset: -430.5;
    }
}
@keyframes x {
    from{
        stroke-dashoffset: 431;
    }
    to{
        stroke-dashoffset: 0;
    }
}
#sun-moon{
    width: 25px;height: 25px;
    padding-top: 1px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #F9F8EB;
    box-shadow: -0px -0px 2px rgba(21, 82, 99,.3) , 0px 0px 2px rgba(21, 82, 99,.3);
    position: absolute;
    transform: translateY(-40%);
}
.bi-sun-fill{
    color: #F0B917;
}
.bi-moon-stars-fill{
    color: #155263;
}
.cont-sun-moon{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    position: absolute;
    transform: rotate(270deg);
    transform-origin: 50% 50%;
    animation: xx 10s linear;
}
@keyframes xx {
    from{
        transform: rotate(270deg);
    }
    to{
        transform: rotate(630deg);
    }
}